In [173]:
from bs4 import BeautifulSoup
import pandas as pd

In [174]:
with open('data/mayor_2015_general.html') as mayor_general_file:
  mayor_general_soup = BeautifulSoup(mayor_general_file, 'lxml')
  
with open('data/mayor_2015_runoff.html') as mayor_runoff_file:
  mayor_runoff_soup = BeautifulSoup(mayor_runoff_file, 'lxml')

In [175]:
def parse_ward(soup):
  """
  Parses ward integer from BeautifulSoup object
  """
  return int(soup.td.b.text.split()[1])

def parse_int(soup):
  """
  Parses an arbitrary integer from a BeautifulSoup table cell (td)
  """
  return int(soup.text)

def parse_to_dataframe(soup, general_election=True):
  """
  Parses BeautifulSoup object to produce Pandas dataframe
  """
  emmanuel_col_idx = 2
  garcia_col_idx = 8
  if not general_election:
    emmanuel_col_idx = 2
    garcia_col_idx = 4
  tables = soup.find_all('table')
  # the first table is across wards, we want data at ward-level granularity
  tables = tables[1:]
  df_rows = []
  for table in tables:
    # First row is the ward, last row is the summary of the ward data. We won't use the last row since it can be derived
    rows = table.find_all('tr')
    rows = rows[:-1]
    ward_num = parse_ward(rows[0])
    for row in rows[2:]:
      cols = row.find_all('td')
      df_rows.append({
        'WARD': ward_num,
        'PRECINT': parse_int(cols[0]),
        'TOTAL_VOTES': parse_int(cols[1]),
        'RAHM_EMANUEL_VOTES': parse_int(cols[emmanuel_col_idx]),
        'JESUS_GARCIA_VOTES': parse_int(cols[garcia_col_idx])
      })
      
  return pd.DataFrame(df_rows)

In [176]:
general_election_df = parse_to_dataframe(mayor_general_soup)
runoff_election_df = parse_to_dataframe(mayor_runoff_soup, general_election=False)

In [177]:
# Sanity check
general_election_df[:10]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>JESUS_GARCIA_VOTES</th>
      <th>PRECINT</th>
      <th>RAHM_EMANUEL_VOTES</th>
      <th>TOTAL_VOTES</th>
      <th>WARD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>115</td>
      <td>1</td>
      <td>62</td>
      <td>195</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>109</td>
      <td>2</td>
      <td>56</td>
      <td>189</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>94</td>
      <td>3</td>
      <td>95</td>
      <td>208</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>93</td>
      <td>4</td>
      <td>112</td>
      <td>232</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>64</td>
      <td>5</td>
      <td>90</td>
      <td>169</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>106</td>
      <td>6</td>
      <td>88</td>
      <td>216</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>72</td>
      <td>7</td>
      <td>60</td>
      <td>154</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>81</td>
      <td>8</td>
      <td>118</td>
      <td>225</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>86</td>
      <td>9</td>
      <td>87</td>
      <td>198</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>63</td>
      <td>10</td>
      <td>99</td>
      <td>182</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [178]:
# Sanity check
runoff_election_df[:10]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>JESUS_GARCIA_VOTES</th>
      <th>PRECINT</th>
      <th>RAHM_EMANUEL_VOTES</th>
      <th>TOTAL_VOTES</th>
      <th>WARD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>166</td>
      <td>1</td>
      <td>93</td>
      <td>259</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>179</td>
      <td>2</td>
      <td>75</td>
      <td>254</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>120</td>
      <td>3</td>
      <td>149</td>
      <td>269</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>132</td>
      <td>4</td>
      <td>145</td>
      <td>277</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>73</td>
      <td>5</td>
      <td>144</td>
      <td>217</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>146</td>
      <td>6</td>
      <td>144</td>
      <td>290</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>107</td>
      <td>7</td>
      <td>79</td>
      <td>186</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>111</td>
      <td>8</td>
      <td>158</td>
      <td>269</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>158</td>
      <td>9</td>
      <td>106</td>
      <td>264</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>88</td>
      <td>10</td>
      <td>138</td>
      <td>226</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [179]:
general_election_votes_per_ward_df = general_election_df.groupby(['WARD'])[['TOTAL_VOTES']].sum()
runoff_election_votes_per_ward_df = runoff_election_df.groupby(['WARD'])[['TOTAL_VOTES']].sum()
election_votes_per_ward_df =\
  pd.merge(general_election_votes_per_ward_df, runoff_election_votes_per_ward_df, left_index=True, right_index=True)
election_votes_per_ward_df.columns = ['TOTAL_VOTES_GENERAL', 'TOTAL_VOTES_RUNOFF']

In [180]:
election_votes_per_ward_df['DELTA'] = \
  election_votes_per_ward_df['TOTAL_VOTES_GENERAL'] - election_votes_per_ward_df['TOTAL_VOTES_RUNOFF']

In [181]:
election_votes_per_ward_df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TOTAL_VOTES_GENERAL</th>
      <th>TOTAL_VOTES_RUNOFF</th>
      <th>DELTA</th>
    </tr>
    <tr>
      <th>WARD</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>8458</td>
      <td>10727</td>
      <td>-2269</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10434</td>
      <td>14164</td>
      <td>-3730</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10645</td>
      <td>12919</td>
      <td>-2274</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11958</td>
      <td>13997</td>
      <td>-2039</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11563</td>
      <td>13276</td>
      <td>-1713</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11033</td>
      <td>12315</td>
      <td>-1282</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10718</td>
      <td>12305</td>
      <td>-1587</td>
    </tr>
    <tr>
      <th>8</th>
      <td>13686</td>
      <td>15626</td>
      <td>-1940</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11978</td>
      <td>13276</td>
      <td>-1298</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9501</td>
      <td>11623</td>
      <td>-2122</td>
    </tr>
    <tr>
      <th>11</th>
      <td>9629</td>
      <td>12508</td>
      <td>-2879</td>
    </tr>
    <tr>
      <th>12</th>
      <td>4997</td>
      <td>6961</td>
      <td>-1964</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11187</td>
      <td>14182</td>
      <td>-2995</td>
    </tr>
    <tr>
      <th>14</th>
      <td>6036</td>
      <td>8317</td>
      <td>-2281</td>
    </tr>
    <tr>
      <th>15</th>
      <td>4673</td>
      <td>6347</td>
      <td>-1674</td>
    </tr>
    <tr>
      <th>16</th>
      <td>6146</td>
      <td>7795</td>
      <td>-1649</td>
    </tr>
    <tr>
      <th>17</th>
      <td>8729</td>
      <td>9943</td>
      <td>-1214</td>
    </tr>
    <tr>
      <th>18</th>
      <td>12294</td>
      <td>14672</td>
      <td>-2378</td>
    </tr>
    <tr>
      <th>19</th>
      <td>18147</td>
      <td>20144</td>
      <td>-1997</td>
    </tr>
    <tr>
      <th>20</th>
      <td>6918</td>
      <td>8088</td>
      <td>-1170</td>
    </tr>
    <tr>
      <th>21</th>
      <td>13389</td>
      <td>15072</td>
      <td>-1683</td>
    </tr>
    <tr>
      <th>22</th>
      <td>5322</td>
      <td>7429</td>
      <td>-2107</td>
    </tr>
    <tr>
      <th>23</th>
      <td>9625</td>
      <td>11312</td>
      <td>-1687</td>
    </tr>
    <tr>
      <th>24</th>
      <td>7268</td>
      <td>8126</td>
      <td>-858</td>
    </tr>
    <tr>
      <th>25</th>
      <td>7742</td>
      <td>9974</td>
      <td>-2232</td>
    </tr>
    <tr>
      <th>26</th>
      <td>6790</td>
      <td>8510</td>
      <td>-1720</td>
    </tr>
    <tr>
      <th>27</th>
      <td>8827</td>
      <td>10493</td>
      <td>-1666</td>
    </tr>
    <tr>
      <th>28</th>
      <td>7725</td>
      <td>9411</td>
      <td>-1686</td>
    </tr>
    <tr>
      <th>29</th>
      <td>11103</td>
      <td>13176</td>
      <td>-2073</td>
    </tr>
    <tr>
      <th>30</th>
      <td>5096</td>
      <td>7490</td>
      <td>-2394</td>
    </tr>
    <tr>
      <th>31</th>
      <td>5863</td>
      <td>8457</td>
      <td>-2594</td>
    </tr>
    <tr>
      <th>32</th>
      <td>8634</td>
      <td>12529</td>
      <td>-3895</td>
    </tr>
    <tr>
      <th>33</th>
      <td>8325</td>
      <td>9937</td>
      <td>-1612</td>
    </tr>
    <tr>
      <th>34</th>
      <td>12586</td>
      <td>14037</td>
      <td>-1451</td>
    </tr>
    <tr>
      <th>35</th>
      <td>6274</td>
      <td>8071</td>
      <td>-1797</td>
    </tr>
    <tr>
      <th>36</th>
      <td>6055</td>
      <td>8398</td>
      <td>-2343</td>
    </tr>
    <tr>
      <th>37</th>
      <td>8373</td>
      <td>10160</td>
      <td>-1787</td>
    </tr>
    <tr>
      <th>38</th>
      <td>11246</td>
      <td>12738</td>
      <td>-1492</td>
    </tr>
    <tr>
      <th>39</th>
      <td>11342</td>
      <td>13133</td>
      <td>-1791</td>
    </tr>
    <tr>
      <th>40</th>
      <td>9805</td>
      <td>12216</td>
      <td>-2411</td>
    </tr>
    <tr>
      <th>41</th>
      <td>14965</td>
      <td>18773</td>
      <td>-3808</td>
    </tr>
    <tr>
      <th>42</th>
      <td>8920</td>
      <td>13545</td>
      <td>-4625</td>
    </tr>
    <tr>
      <th>43</th>
      <td>10571</td>
      <td>14789</td>
      <td>-4218</td>
    </tr>
    <tr>
      <th>44</th>
      <td>9424</td>
      <td>13183</td>
      <td>-3759</td>
    </tr>
    <tr>
      <th>45</th>
      <td>12991</td>
      <td>15768</td>
      <td>-2777</td>
    </tr>
    <tr>
      <th>46</th>
      <td>10563</td>
      <td>13487</td>
      <td>-2924</td>
    </tr>
    <tr>
      <th>47</th>
      <td>12488</td>
      <td>16149</td>
      <td>-3661</td>
    </tr>
    <tr>
      <th>48</th>
      <td>11286</td>
      <td>14326</td>
      <td>-3040</td>
    </tr>
    <tr>
      <th>49</th>
      <td>8936</td>
      <td>10598</td>
      <td>-1662</td>
    </tr>
    <tr>
      <th>50</th>
      <td>7940</td>
      <td>10261</td>
      <td>-2321</td>
    </tr>
  </tbody>
</table>
</div>