In [96]:
from bs4 import BeautifulSoup
import pandas as pd

In [97]:
with open('data/mayor_2015_general.html') as mayor_general_file:
  mayor_general_soup = BeautifulSoup(mayor_general_file, 'lxml')
  
with open('data/mayor_2015_runoff.html') as mayor_runoff_file:
  mayor_runoff_soup = BeautifulSoup(mayor_runoff_file, 'lxml')

In [98]:
def parse_ward(soup):
  """
  Parses ward integer from BeautifulSoup object
  """
  return int(soup.td.b.text.split()[1])

def parse_int(soup):
  """
  Parses an arbitrary integer from a BeautifulSoup table cell (td)
  """
  return int(soup.text)

def parse_to_dataframe(soup, general_election=True):
  """
  Parses BeautifulSoup object to produce Pandas dataframe
  """
  emmanuel_col_idx = 2
  garcia_col_idx = 8
  if not general_election:
    emmanuel_col_idx = 2
    garcia_col_idx = 4
  tables = soup.find_all('table')
  # the first table is across wards, we want data at ward-level granularity
  tables = tables[1:]
  df_rows = []
  for table in tables:
    # First row is the ward, last row is the summary of the ward data. We won't use the last row since it can be derived
    rows = table.find_all('tr')
    rows = rows[:-1]
    ward_num = parse_ward(rows[0])
    for row in rows[2:]:
      cols = row.find_all('td')
      df_rows.append({
        'WARD': ward_num,
        'PRECINT': parse_int(cols[0]),
        'TOTAL_VOTES': parse_int(cols[1]),
        'RAHM_EMANUEL_VOTES': parse_int(cols[emmanuel_col_idx]),
        'JESUS_GARCIA_VOTES': parse_int(cols[garcia_col_idx])
      })
      
  return pd.DataFrame(df_rows)

In [99]:
general_election_df = parse_to_dataframe(mayor_general_soup)
runoff_election_df = parse_to_dataframe(mayor_runoff_soup, general_election=False)

In [100]:
# Sanity check
general_election_df[:10]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>JESUS_GARCIA_VOTES</th>
      <th>PRECINT</th>
      <th>RAHM_EMANUEL_VOTES</th>
      <th>TOTAL_VOTES</th>
      <th>WARD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>115</td>
      <td>1</td>
      <td>62</td>
      <td>195</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>109</td>
      <td>2</td>
      <td>56</td>
      <td>189</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>94</td>
      <td>3</td>
      <td>95</td>
      <td>208</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>93</td>
      <td>4</td>
      <td>112</td>
      <td>232</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>64</td>
      <td>5</td>
      <td>90</td>
      <td>169</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>106</td>
      <td>6</td>
      <td>88</td>
      <td>216</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>72</td>
      <td>7</td>
      <td>60</td>
      <td>154</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>81</td>
      <td>8</td>
      <td>118</td>
      <td>225</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>86</td>
      <td>9</td>
      <td>87</td>
      <td>198</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>63</td>
      <td>10</td>
      <td>99</td>
      <td>182</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [101]:
# Sanity check
runoff_election_df[:10]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>JESUS_GARCIA_VOTES</th>
      <th>PRECINT</th>
      <th>RAHM_EMANUEL_VOTES</th>
      <th>TOTAL_VOTES</th>
      <th>WARD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>166</td>
      <td>1</td>
      <td>93</td>
      <td>259</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>179</td>
      <td>2</td>
      <td>75</td>
      <td>254</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>120</td>
      <td>3</td>
      <td>149</td>
      <td>269</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>132</td>
      <td>4</td>
      <td>145</td>
      <td>277</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>73</td>
      <td>5</td>
      <td>144</td>
      <td>217</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>146</td>
      <td>6</td>
      <td>144</td>
      <td>290</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>107</td>
      <td>7</td>
      <td>79</td>
      <td>186</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>111</td>
      <td>8</td>
      <td>158</td>
      <td>269</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>158</td>
      <td>9</td>
      <td>106</td>
      <td>264</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>88</td>
      <td>10</td>
      <td>138</td>
      <td>226</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>